
body {
    width: 75543%;
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
}

.pink-text {
    color: #ff5678;
}

.pink-bg {
    background-color: #ff5678;
}

.white-text {
    color: #fff;
}

.big {
    font-size: 3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*position: relative;*/
}

.nav-left {
    margin: 0;
}

.nav-right {
    padding: 0;
    margin: 0;
    /*position: absolute;
    top: 6px;
    right: 0;*/
}

.nav-right li {
    display: inline-block;
    margin-left: 30px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

header {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    /*position: relative;*/
}

.nav-right button {
    height: 3rem;
    width: 9rem;
}


.header-left {
    width: 50%;
    display: inline-block;
    /*position: absolute;
    top: 0;*/
}

.sub-heading {
    font-size: 2rem;
}

.header-right {
    /*position: absolute;
    right: 0;*/
}

.header-bottom {
    display: flex;
    align-items: center;
}

.header-bottom a {
    margin-right: 2.5rem;
}

.header-bottom a img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

.header-bottom a button {
    height: 5rem;
    width: 15rem;
}

button {
    border: 1px;
    border-radius: 5px;
    font-size: inherit;
}

.about-me {
    margin-top: 200px;
}

.about-me .title {
    margin-bottom: 0;
}

.about-me .content {
    display: flex;
    line-height: 1.5;
    justify-content: space-between;
    align-items: center;
}

.about-me .content .left {
    width: 50%;
}

.about-me .content .right {
    height: 35%;
    width: 35%;
}

