/*h2 {
    font-size: 18pt;
    font-weight: bold;
    color: red;
}

p {
    color: #080;
}*/

.first {
    font-style: italic;
    color: red;
}

#latestComment {
    font-style: italic;
    color: red;
}

a:link {
    text-decoration: underline;
    color: blue;
}

a:visited {
    text-decoration: underline;
    color: purple;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
}

a:active {
    background-color: yellow;
}


