
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-size: 0.0625em;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 24rem;
}

.slide {
    width: 65%;
    margin: 35px auto 0 auto;
}

.pink-text {
    color: #ff5678;
}

.pink-bg {
    background-color: #ff5678;
}

.big {
    font-size: 50rem;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    margin: 0;
}

.nav-right {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-right li {
    flex: 1;
    margin-left: 20rem;
}

.nav-right li:last-child {
    flex: 3;
}

.nav-right li a {
    padding: 15rem 10rem;
}

.nav-right li a:hover {
    background-color: #ff5678;
    color: #fff;
    border-radius: 5px;
}

.nav-right li:last-child a {
    padding: 15rem 40rem;
}

.btn {
    color: #fff;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    margin-top: 200px;
    display: flex;
}

header img {
    width: 446rem;
    height: 331rem;
}

.header-left {
    /*margin-right: 50px;*/
}

.sub-heading {
    font-size: 35rem;
}

.header-right {

}

.header-left .bottom {
    display: flex;
    align-items: center;
}

.btn-big {
    width: 295rem;
    height: 90rem;
    padding: 25rem 90rem;
    box-sizing: border-box;
}

.header-left .bottom a {
    margin-right: 40px;
}

.header-left .bottom a img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

.about-me {
    margin-top: 200px;
}

.about-me .title {
    margin-bottom: 0;
}

.about-me .content {
    display: flex;
    line-height: 1.5;
    justify-content: space-between;
    align-items: center;
}

.about-me .content .left {
    /*width: 50%;*/
    margin-right: 50px;
}

.about-me .content .right {
    height: 35%;
    width: 35%;
}

.work-experience {
    margin-top: 200px;
    line-height: 0.3;
}

.work-experience .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-experience .top a {
    font-size: 0.85em;
    cursor: pointer;
}

.work-experience hr {
    margin: 0;
}

.work-experience .items {
    font-size: 1.2rem;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10rem;
}

.text-grey {
    color: #555;
}

.text-grey-lighter {
    /*color: #999;*/
    color: #888;
}

.organization {
    font-weight: 500;
}

.item .light {
    font-weight: 300;
}

.the-skill-set {
    margin-top: 10rem;
}

.the-skill-set .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 20px;
}

.the-skill-set .items .item {
    padding: 40px 25px 30px 25px;
    box-shadow: 0 0 30px #eee;
    width: 70%;
}

.the-skill-set .items .item .skill {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 8px;
}

.the-skill-set .items .item p {
    font-size: 1.1rem;
}

.selected-works {
    margin-top: 250px;
}

.selected-works .title {
    margin-bottom: 40px;
}

.selected-works .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 45px;
}

.selected-works .items * {
    width: 100%;
}

/*.selected-works .items:first-child {*/
.selected-works .items #first {
    grid-column: 1 / span 2;
}

.the-skill-set-2 {
    margin-top: 120px;
}

.the-skill-set-2 h2 {
    margin-bottom: 0;
}

.the-skill-set-2 .items p {
    margin: 0;
    width: 60%;
}

.the-skill-set-2 .items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.penultimate {
    margin-top: 200px;
}

.penultimate .items {
    display: flex;
    justify-content: space-between;
}

.penultimate .items .left {
    width: 44%;
    font-size: 1.35rem;
    /*display: flex;
    flex-direction: column;*/
}

.penultimate .items .left h1 {
    margin: 0;
}

.penultimate .items .left p {
    margin-bottom: 50px;
}

.penultimate .items .right {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.penultimate .items .right h2 {
    margin: 0;
}

.penultimate .items .right a {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.penultimate .items .right img:not(#linkedin-icon) {
    margin-right: 20px;
}

.penultimate .items .right #linkedin-icon {
    margin-right: 25px;
}

footer {
    margin-top: 150px;
    color: white;
    padding: 15px 0;
    text-align: center;
    border-bottom: 3px solid #fff;
}

#arrow {
    font-size: 2em;
}


@media (max-width: 1527px) {
    header img {
        width: calc(446rem * 0.75);
        height: calc(331rem * 0.75);
    }

    html {
        font-size: 5%;
    }
}

@media (max-width: 1000px) {
    .slide {
        width: 80%;
        margin: 35px auto 0 auto;
    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-right {
        margin: 50px 0 0 0;
    }

    .nav-right li a {
        padding: 10rem 0;
    }

    .nav-right li:last-child a {
        padding: 10rem 30rem;
    }

    header {
        margin-top: 100px;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 515px) {
    .slide {
        width: 80%;
        margin: 35px auto 0 auto;
    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-right {
        flex-direction: column;
    }

    .nav-right li {
        margin: 30px 0 0 0;
    }

    .header-left .bottom + a {
        display: inline-block;
    }
}

